.header{
    background-color: white;
    display: flex;
    height: 57px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(219, 214, 214);
}

.left-section{
    display: flex;
    width: 162px;
    height: 24px;
    align-items: center;
    margin-right: 70px;
}

.mid-section{
    display: flex;
    flex: 1;
    max-width: 470px;
    align-items: center;
}

.right-section{
    display: flex;
    width: 182px;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    flex-shrink: 0;
}

.hamburger-menu{
    height:  24px;
    margin-left: 25px;
}

.youtube-logo{
    height: 20px;
    margin-left: 22px;
}

.search-bar{
    height: 36px;
    flex: 1;
    padding-left: 10px;
    box-shadow: inset 0px 1px 2px rgb(238 238 238);
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-width: 1px;
    margin-right: -1px;
    width: 0px;
}

.search-bar::placeholder{
    font-family: 'Roboto', Arial;
    font-size: 16px;
}

.search-button{
    height: 39px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(207, 204, 204);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-right: 8px;
}

.search-icon{
    height: 24px;
}

.voice-search-button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 243, 243);
}

.voice-search-icon{
    height: 24px;
}

.upload{
    height: 24px;
}

.apps{
    height: 24px;
}

.notifications{
    height: 24px;
}

.profile-photo{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}